
.parallax {
  /* The image used */
  /* Full height */
  height: 250px;

  /* Create the parallax scrolling effect */
  background: url('/images/alicante-skyline.svg') no-repeat fixed center top;
  background-size: contain;

  h1.title, h2.subtitle {
    animation: change-color-to-white 25s linear forwards;
  }

  .hero {
    h1.title {
      font-size: 72px;
      margin-bottom: .5em;
    }
    h2.subtitle {
      margin-bottom: 1em;
    }
  }
}

.logos {
  flex: 0 0 200px;
  max-width: 500px;
  margin: 0 auto;
}

.links.logos > a img {
  color: $white;
  width: 150px;
  margin: 0 auto !important;
}


