.cls-1 {
    fill: none;
}

.cls-2 {
    clip-path: url(#clip-path);
}

.cls-3 {
    fill: #7dd7ff;
}

.cls-4 {
    fill: #ffc580;
}

.cls-5 {
    fill: #686b64;
}

.cls-6 {
    fill: #4c663c;
}

.cls-7 {
    fill: #666;
}

.cls-10, .cls-8 {
    fill: #89633d;
}

.cls-8 {
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
}

.cls-9 {
    fill: #fff;
}

.cls-11 {
    fill: #a0734a;
}

.cls-12 {
    fill: #535254;
}